# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Project Specific (Mock Test Environments)
mock_game_root/
mock_prefix/
RDR2_Toolbox/
RDR2_Toolbox_Test/

# Backups and Logs
*.bak
*.log
.manifest.json

# OS Specific
.DS_Store
Thumbs.db
simulation_box/
token.txt
release.sh
delete_tag.sh
save_modifier.py