# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
mock_game_root/
mock_prefix/
RDR2_Toolbox/
RDR2_Toolbox_Test/
*.bak
*.log
.manifest.json
.DS_Store
Thumbs.db
simulation_box/
token.txt
release.sh
delete_tag.sh
tests/__pycache__